# PORT
PORT = 9898

# CLIENT
CLIENT_DOMAIN = localhost

# SERVER
SERVER_DOMAIN = localhost

# DATABASE
DB_HOST = mongo
DB_PORT = 27017
DB_DATABASE = dev

# DISCORD
CLIENT_ID = ID
CLIENT_SECRET = SECRET
REDIRECT_URI = http://localhost:9797/login

# JWT Signing Key - https://stackoverflow.com/a/62095056
SECRET_KEY = KEY

# LOG
LOG_FORMAT = dev
LOG_DIR = ../logs

# CORS
ORIGIN = http://localhost:9797
CREDENTIALS = true

# SSL
SSL_KEY = none
SSL_CERT = none
